@page
@model IndexModel
@{
    ViewData["Title"] = "ERCONUN YERI";
}

<div class="text-center">
    <h1 class="display-8">ERKAN BEY HOSGELDINIZ...</h1>
    <img src="https://www.w3schools.com/w3css/img_mountains.jpg">
</div>
